aiohappyeyeballs==2.6.1
aiosignal==1.4.0
alembic==1.16.4
androguard==4.1.3
anyio==4.10.0
apkInspector==1.3.5
asn1crypto==1.5.1
asttokens==3.0.0
asyncio-throttle==1.0.2
attrs==25.3.0
banal==1.0.6
bcrypt==4.3.0
beautifulsoup4==4.13.4
bleak==0.21.1
blinker==1.9.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.3
cryptography @ file:///home/builder/.termux-build/python-cryptography/src
cycler==0.12.1
dataset==1.6.2
dbus-fast==2.44.2
decorator==5.2.1
defusedxml==0.7.1
discord.py==2.5.2
dnspython==2.7.0
executing==2.2.0
fake-useragent==2.2.0
Flask==2.3.3
fonttools==4.59.0
frozenlist==1.7.0
future==1.0.0
greenlet==3.2.3
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imutils==0.5.4
ipaddress==1.0.23
ipwhois==1.3.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
kiwisolver==1.4.8
loguru==0.7.3
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
multidict==6.6.3
mutf8==1.0.6
netaddr==1.3.0
netifaces==0.11.0
networkx==3.5
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.2.5-cp312-cp312-linux_aarch64.whl#sha256=3e07e01553f84586072e530c91db94e54882af68f7792181856cc69bbe8381ee
packaging==25.0
paramiko==3.5.1
parso==0.8.4
pexpect==4.9.0
phonenumbers==9.0.11
pillow==11.3.0
prompt_toolkit==3.0.51
propcache==0.3.2
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaes==1.6.1
pyasn1==0.6.1
PyAudio==0.2.14
pycparser==2.22
pycryptodome==3.23.0
pydot==4.0.1
pyfiglet==1.0.3
Pygments==2.19.2
PyNaCl==1.5.0
pyparsing==3.2.3
pypresence==4.3.0
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-nmap==0.7.1
python-whois==0.9.5
PyYAML==6.0.1
reportlab==4.4.3
requests==2.32.4
rsa==4.9.1
scapy==2.4.5
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==1.4.54
stack-data==0.6.3
stem==1.8.2
tabulate==0.9.0
Telethon==1.40.0
termuxgui==0.1.6
traitlets==5.14.3
typing_extensions==4.14.1
urllib3==2.5.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==13.1
Werkzeug==3.1.3
wheel==0.45.1
yara-python==4.5.4
yarl==1.20.1
flask==2.3.3
pillow==10.0.1
